body {
  background-image: url("/images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: hsl(212, 45%, 89%);
  width: 80%;
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 3px 5px 20px hsl(308, 81%, 69%);
}

.card {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  box-shadow: 3px 5px 8px hsl(308, 81%, 69%);
}
.card h2 {
  font-size: 18px;
  font-weight: 700;
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

#QRcode {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  main {
    background-color: hsl(212, 45%, 89%);
    width: 100%;
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 3px 5px 20px hsl(308, 81%, 69%);
  }
}
